.milan_bg{
	margin: 0;
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/body_bg.png');
}
.container{
	width: 1364px;
}
.content{
	width:1059px;
	margin:0 auto;
}
.left_side{
	float: left;
	width: 70%;
}
.link{
	text-decoration: none;
	color: white;
}
.link_img{
	text-decoration: none;
	display: block;
	color: white;
}
.right_side{ 
	float: right;
	color: white;	
}
.mail{
	margin: 0;
	font-size: 18px;
}
.phone_number{
	text-align: right;
	margin: 0;
	font-size: 18px;
}
.logo_name_block{
	display: inline-block;
}
.logo_name{
	font-size: 18px;
	margin: 0;
	color: white;
}
.milan{
	font-size: 29px;
}
.tours{
	float: left;
	margin-right: 62px;
	margin-top: 50px;
}
.tours:nth-child(3){
	margin-right: 0;
}
.tours:last-child{
    margin-right: 0;
}
.clear::after {
    content: '';
    clear: both;
    display: block;
}
.logo{
	margin-top: 50px;
}
.about_image{
	color: white;
	text-align: center;
}
.copyright{
	color: white;
	text-align: center;
}
.bg_image,
.bg_image2,
.bg_image3,
.bg_image4,
.bg_image5,
.bg_image6{
	border: 2px solid;
	border-image: linear-gradient(#f7f7f7, #020202) 1;
	background-repeat: no-repeat;
	width: 307px;
	height: 200px;
}
.link:hover {
	text-decoration: none
} 
.hide {
	display:none
}
.link:hover .image:first-child{
	display:none
}
.link:hover .image:last-child{
	display:inline-block
}
.logo_name_block:hover .logo_name{
	color: #f26522;
}
.tours:hover .about_image{
	color: #f26522;
}
.hover{
	width: 100%;
	height: 50px;
	background-color: #f26522;
	position: relative;
	top: 150px;
	opacity: 0;
}
.tours:hover .hover{
	transition-duration: 1s;;
	opacity: 1;}
.bg_image{
	background-image: url("img/Layer1.png");
}
.bg_image2{
	background-image: url("img/Layer2.png");
}
.bg_image3{
	background-image: url("img/Layer3.png");
}
.bg_image4{
	background-image: url("img/Layer4.png");
}
.bg_image5{
	background-image: url("img/Layer5.png");
}
.bg_image6{
	background-image: url("img/Layer6.png");
}
.hover_left_side{
	float: left;
	margin-left: 15px;
}
.hover_right_side{
	float: right;
	margin-top: 10px;
	margin-right:20px;
}
.from{
	margin: 0;
}
.euro{
	margin: 0;
	font-size: 24px;
}
.details::after {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	border-left-color: white;
	right: 2px;
	bottom: 7px;

}