*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.body_class{
	width: 1280px;
}
.logo{
	
	font-size: 50px;
	color: black;
}
.blue_text{
	color:#4bcaff;
}
.menu_block{
	text-align: center;
	background-color: #35444f;
	font-size: 20px;
}
.ul_list{
	margin: 1%;
}
.menu_list{
	display: inline-block;
	margin: 20px auto;
}
.menu_link{
	border-right: 1px solid #35444f;
	border-left: 1px solid #35444f;
	background-color: #35444f;
	color: #fff;
	padding: 20px;
		
}
.menu_link:hover{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	background-color: #222f3a;
}
.sidebar{
	display: inline-block;
	border: 1px solid #35444f;
	width: 340px;
	vertical-align: top;
}
.sidebar_list>a{
	color: #495863;
	padding: 2%;
	font-size: 20px;
}
.sidebar_list{
	padding: 7%;
}
.sidebar_list:hover{
	background-color: #dbdbdb;
	padding-left: 20%;
}
.sidebar_list:hover > a {
    color: #1d1d1d;
}
.right_section{
	display: inline-block;
	width: 850px;
}
.img_frame{
	display: inline-block;
	border: 1px solid #35444f;
	margin-left: 45px;
	width: 765px;
	padding: 60px;
	text-align: center;
	overflow: hidden;
}
.img_frame:hover .image{
	transform: scale(1.4);
}
.image{
	transition:transform 0.7s;
}
.main_paragraph{
	padding: 2%;
	font-size: 18px;
	margin-left: 45px;
}
.footer_block{
	background-color: #b4b7ba;
	margin-bottom: 3%;
}
.footer_menu{
	display: inline-block;
	width: 87%;
}
.footer_list{
	display: inline-block;
	margin:20px 25px;
}
.footer_paragraph{
	display: inline-block;
	text-align: right;
	font-size: 16px;
	color:#010101;
}
.footer_list>a{
	font-size: 18px;
	color:#0c1927;
}
.footer_list>a:hover{
	color:#3181a6;
}