html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.background{
	height: 100%;
	background-image: url(../img/background_image.png);
	background-size: cover;
}
.nav_panel{
	width: 100%;
	height: 56px;
	background:rgba(1,1,1,0.5); 
}
.logo_name{
	float: left;
	margin-left: 81px;
}
.logo_name:hover .logo_name_link{
	color: #3cb878;
	transition: 1s;
}
.logo_name_link{
	color: white;
	text-decoration: none;
}
/*.........sprite..........*/
.right_part_sprite{
	float: right;
	margin-top: 18px;
	margin-right: 75px;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 28px;
}

.sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -28px -28px;
}

.sprite-ic_caledar_hover {
	display: none;
    width: 19px;
    height: 19px;
    background-position: -103px -28px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -178px -28px;
}

.sprite-ic_forum_hover {
	display: none;
    width: 28px;
    height: 20px;
    background-position: -262px -28px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -346px -28px;
}

.sprite-ic_journey_hover {
	display: none;
    width: 20px;
    height: 20px;
    background-position: -422px -28px;
}
.sprite-ic_caledar:hover{
	display: none;
}
.sprite-ic_caledar:hover+.sprite-ic_caledar_hover{
	display: inline-block;
}
.sprite-ic_forum:hover{
	display: none
}
.sprite-ic_forum:hover+.sprite-ic_forum_hover{
	display: inline-block;
}
.sprite-ic_journey:hover{
	display: none
}
.sprite-ic_journey:hover+.sprite-ic_journey_hover{
	display: inline-block;
}
/*......sprite end........*/
.right_part{
	float: right;
	margin-top: 0;
	padding-left: 50px;
	font-size: 18px;
	color: white;
}
.login{
	padding: 0 5px;
	text-decoration: none;
	color: #3cb878;
}

.login:hover{
	transition: .5s;
	border-bottom: 1px solid #3cb878;

}
.centered{
	margin: 0 auto;
	width: 320px;
}
.main{
	display: flex;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 56px);
    align-items: center;
}
.login_form{
	position: relative;
	height: 550px;
	width: 440px;
	background-color: white;
	border-radius: 10px;
}
.form_inputs{
	height: 10%;
	align-items: center;
	
	}
.signup{
	float: left;
	margin: 0;
	margin-top: 20px;
	color: #434343;
	font-size: 20px;

}
.form_right{
	margin-top: 22px;
	float: right;
}
.login_form:before{
	content: '';
	position: absolute;
	height: 18px;
	width: 18px;
	background-color: #3cb878;
	top: 50px;
}
.fb{
	background-color: #305db8;
	border:1px solid #305db8;
}
.google{
	background-color: #df4a32;
	border:1px solid #df4a32;
}
.social{
	height: 46px;
	width: 157px;
	color: white;
	font-size: 18px;
	border-radius: 5px;
}
.social_icon{
	padding-right: 15px;
}
.fb_after::after{
	content: '';
	border:1px solid #2b54a5;
	margin-left: 10px;
}
.google_after::after{
	content: '';
	border:1px solid #c8422d;
	margin-left: 10px;
}
.before_after_or{
	text-align: center;
	color: #848484;
}
.before_after_or::before{
	content: '';
	border:1px solid #eaeaea;
	display: inline-block;
	width: 138px;
	margin-right: 4%;
	margin-bottom: 1%;
}
.before_after_or::after{
	content: '';
	border:1px solid #eaeaea;
	display: inline-block;
	width: 138px;
	margin-left: 4%;
	margin-bottom: 1%;
}
.inputs{
	width: 97%;
	height: 35px;
	margin-bottom: 3%;
	border-radius: 4px;
	border:1px solid #bebebe;
	padding-left: 5%;
}
.inputs:focus{
	border:none;
	box-shadow: 1px 2px 4px  grey;
	outline: none; 
}

.login_form_checkbox{
    display: none;
}
.check_area{
	width: 90%;
	margin-top:20px;
	margin-bottom: 28px;
}
.label_check {
    position: relative;
    color: #434343;
}
.label_check::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
}

.label_check::after {
    content: '\2714';
    display: inline-block;
    position: absolute;
   	right: 207px;
    bottom: -3px;
    font-size: 24px;
    font-weight: 700;
    color: #3cb878;
    opacity: 0;
}
.login_form_checkbox:checked+.label_check::after {
    opacity: 1;
}
.creat_acc{
	color: white;
	font-size: 16px;
	background-color: #3cb878;
	border: 1px solid #3cb878;
	width: 325px;
	text-align: center;
	border-radius: 4px;
	height: 46px;
}
.fb:hover{
	background-color: #264b96;
	transition: 1s;
}
.google:hover{
	background-color: #c3412c;
	transition: 1s;
}
.creat_acc:hover{
	background-color: #329a65;
	transition: 1s;
}

.changeBtn{
	margin-top: 18px;
	border-radius: 5px;
	background-color: #3cb878;
	border:none;
	color: white;
	padding: 5px;
	margin-left: 15px;
}

.loginTwo{
	color: #A52A2A;
}
.loginTwo:hover{
	border-bottom: 1px solid #A52A2A ;
}
.creat_acc_change{
	background-color: #A52A2A;
	border: 1px solid #A52A2A;
}
.changeBtnBg{
	background-color: #A52A2A;
}