.main_page{
	margin: 0;
	padding: 0;
	width: 100%;
}
/*.......header.......*/
.header{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d2124; 
}
.logo_link{
	align-items: center;
	display: inline-flex;
	text-decoration: none;
	margin-left: 20px;
	color: white;
}
.logo_name{
	margin-left: 30px;
}
.menu_list_item {
	display: inline-flex;
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	width: 680px;	
}
.menu_list_item >li{
	margin-left: 30px;
	font-size: 14px;
}
.menu_list_link{
	text-decoration: none;
	color: white;
}
.src_icon{
	color: white;
	margin-right: 20px;
}

/*.......later_news.......*/
.later_news{
	width: 100%;
	display: flex;
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header-bg.jpeg');
	height: 500px;
	background-attachment: fixed;
 	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
}
.later_news_text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 20px;
}
.green_btn{
	color: white;
	background-color: #89ca62;
	border: none;
	margin-right: 10px;
	border-radius: 5%;
	height: 40px;
	width: 150px;
	cursor: pointer;
}
.blue_btn{
	margin-left: 10px;
	color: white;
	background-color:#14b9d5;
	border: none;
	border-radius: 5%;
	height: 40px;
	width: 150px;
	cursor: pointer;
}
.later_news_btn{
	display: flex;
	justify-content: center;
}
/*.......centered popular_posts.......*/
.background{
	background-color: #f2f2f2;
	padding-top: 10px;
}

.centered{
	margin: 0 auto;
	width: 1000px;
}
.header_text{
	color: #18b4cf;
	font-size: 22px;
	text-transform: uppercase;
	text-align:center;
	margin:50px 0;
}
.post_images{
	display: flex;
  	flex-flow: column wrap;
 	max-height: 900px;
  	width: 100%;
}
.post_images >img{
	margin-right: 20px; 
	width: calc(100% / 3 - 30px);
}
.post_images >span{
	text-align: center;
	width: calc(100% / 3 - 30px);
	height: 40px;
	background-color: white;
	padding-top: 10px;
	margin-bottom: 35px;	
}
/*.........our_clients..........*/
.our_clients{
	width: 100%;
	background-image: url(../img/parallax.jpeg); 
	height: 600px;
	background-attachment: fixed;
 	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}
.clients_grid{
	margin:0 auto;
	width: 1000px;
	padding-top: 10%;
	display: grid;
	text-align: center;
	grid-row-gap: 50px;
	align-items: center;
	grid-template-columns:250px 250px 250px 250px;
}
.grid_one{
	grid-column:1/5;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
}
.grid_one::after{
	content: " ";
    display: block;
    border: 2px solid #169cb4;
    width: 64px;
    margin: 0 auto;
    margin-top: 55px;
}
/*.........top_rated..........*/
.top_rated{
	display: grid;
	background-color: white;
	grid-row-gap: 0;
}
.names{
	width: 220px;
}

.grid_images{
	overflow: scroll;
	display: grid;
	grid: 190px/270px 270px 270px 270px 270px 270px 270px;
}
/*.........news..........*/
.news{
	margin:0 auto;
	width: 1150px;
}
.news_images{
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap:16px;
	grid-template-columns: 270px 270px 270px 270px;
}
.news_images_one{
	height: 250px;
	grid-column:1/3;
	grid-row:1/2;
}
.news_images_two{
	grid-column:4;
	grid-row:1/2;
	background-color: #f9f7f7;
	color: #353a3d;
}
.news_images_three{
	grid-column:1/3;
	grid-row:2/3;
	background-color: #f9f7f7;
}
.news_images_four{
	grid-column:3/5;
	grid-row:2/3;
	background-color: #f9f7f7;
}
.news_images_five{
	grid-column:1/3;
	grid-row:3/4;
	background-color: #f9f7f7;
}
.news_images_six{
	grid-column:3/5;
	grid-row:3/4;
	background-color: #f9f7f7;
}
.news_images_seven{
	grid-column:1;
	grid-row:4;
	background-color: #f9f7f7;
	color: #353a3d;
}
.news_images_eight{
	grid-column:2/4;
	grid-row:4;
}
.text_one{
	background-color: #f9f7f7;
	text-align: right;
	margin-right: 15px;
	font-size: 14px;
	grid-column:2/4;
	grid-row:1/2;
	margin-left: 195px;	
	padding: 15px;
	color: #5b6469;
}
.text_eight{
	background-color: #f9f7f7;
	text-align: right;
	grid-column:3/5;
	grid-row:4;
	margin-left: 200px;
	font-size: 14px;
	padding: 15px;
	color: #5b6469;
}
.text{
	text-align: right;
	font-size: 14px;
	color: #5b6469;
}
.text h3{
	color: #353a3d;
}
.text_one h3{
	color: #353a3d;
}
.text_eight h3{
	color: #353a3d;
}

/*.........footer..........*/
.center_footer{
	width: 100%;
	height: 50px;
	background-color: #1d2124;
	margin-top: 20px;
	padding-top: 20px;
}
.footer{
	width: 85%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 45% 40% 15%;
	color: white;
	align-items: center;
	font-size: 13px;
}
.rights{
	margin: 0;
}
.vector_one{
	justify-self:end;
}