*{
	margin:0;
	padding: 0;
}
.navbar{
	padding: 1%;
	text-align: center;
}
.image{
	width: 100%;
}
.navbar_list{
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	color: #16a085;
	padding-left: 60px;
}
.content{
	background-color: #f5f6f7;
}
.content-text{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.text-title{
	padding-top: 2%;
	font-size: 29px;
	text-align: center;
}
.content-paragraph{
	padding: 1% ;
	text-align: center;
}
.button_div{
	padding-top: 2%;
	padding-bottom: 4%;
}
.start_button{
	display: block;
	background-color: #16a085;
	border: none;
	outline: none;
	padding: 1% 2%;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
}
.copyright{
	padding: 3% 4% 3% 64%;
}