.content{
    height: 100%;
    width: 100%;
}
table{
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    border: 20px solid #3a4965;
    text-transform: uppercase;
    table-layout: fixed;
}
tr,td{
    color: #5b5b5b;
    border:1px solid #e3e3e3;
    text-align: center;
    width: 150px;
}
td:nth-child(even){
    background-color: #e3e3e3;
}
td:nth-child(odd){
    background-color: #f2f2f2;
}
td:nth-child(1){
    width: 190px;
}
tr{
    height: 160px;
}
tr:nth-child(1){
    height: 110px;
}
p{
    margin-bottom: 5px;
}
.first{
    font-weight: 700;
    color: #484848!important;
}
.chose{
    font-size: 14px;
}
.pricing{
    font-weight: 700;
    display: block;
    font-size: 20px;
}
.green_bg{
    color: white;
    font-size: 22px;
    font-weight: 700;
    background-color: #89c331!important;
    border-color: #89c331;
}
.red_bg{
    color: white;
    font-size: 22px;
    font-weight: 700;
    background-color: #f04a56!important;
    border-color: #f04a56;
}
.blue_bg{
    color: white;
    font-size: 22px;
    font-weight: 700;
    background-color: #20807c!important;
    border-color: #20807c;
}
.price{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}
.cash{
    position: relative;
    bottom:15px;
    font-size: 18px;
    font-weight: bold;
}
.month{
    position: relative;
    font-size: 14px;
}
.icons{
    color:#848484;
    font-size: 18px;
}
.after_icon{
    margin-top: 5px;
}
.buy_btn{ 
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    color:white;
    padding: 8px 35px;
    border-radius: 5px;
    background-color: #414141;
    border:none;
}