.backgrounds{
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 2.05rem;
  color: white;
  &__one{
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
  }
  &__one-text{
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
  }
  &__bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 100% ;
  }
  &__one-bg{
    background-image: url("../img/Pizzadelivery.png");
    background-position: 79% 95%;
  }
  &__two{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
  }
  &__two-text{
    margin-left: 2.46rem;
  }
  &__two-bg{
    background-image: url("../img/Salads.png");
    background-position: 24% 94%;
  }
  &__three{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
  }
  &__three-text{
    margin-bottom: 0.5rem;
    margin-right: 0.6rem;
  }
  &__three-bg{
    background-image: url("../img/Desserts.png");
    background-position: 23% 16%;
  }
  &__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #acd8ad;
    width: 9.1rem;
    height: 7.5rem;
    font-size: 1.2rem;
  }
  &__icon-right{
    margin-bottom: 0.4rem;
    margin-right: 0.2rem;
  }
}
.container{
  width: 89%;
  margin: 0 auto;
}
.menuSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentText{
  display: flex;
  flex-direction: column;
  &__header{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-top: 2.1rem;
    color: #3f4043;
  }
  &__subtext{
    color: #d2d3d5;
    margin-left: 0.9rem;
    margin-top: 0.4rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.04rem;
  }
}
.menuImg{
  display: none;
  margin-right: 2rem;
}
.textWithBg{
  background: #3f4043;
  position: relative;
  margin-top: 1rem;
  height: 3.7rem;
  &__text{
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #acd8ad;
    top: 0.8rem;
    margin-left: 1.8rem;
    font-size: 2rem;
  }
}
.twoFlexDiv{
  display: flex;
  flex-direction: column;
}
.flexFor980{
  display: flex;
  flex-direction: column;
}
.flexFor980second{
margin-top: 1.7rem;
}
.listName{
  font-family: 'Lato', sans-serif;
  color: #3f4043;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  &__id{
    text-transform: uppercase;
    word-spacing: -0.2rem;
    display: flex;
    font-size: 1.55rem;
    margin-top: 0.5rem;
  }
  &__img{
    width: 2.5rem;
  }
}
.lists{
  margin-bottom: 0.4rem;
  font-family: "Lato", sans-serif;
  margin-top: 0.6rem;
  &__line{
    padding: 0 1.6rem;
    margin-bottom: 0.3rem;
  }
  &__header{
    font-size: 1.3rem;
    position: relative;
    top: 1rem;
    letter-spacing: 0.02rem;
    word-spacing: 0.03rem;
    color: #3f4043
  }
  &__price{
    position: relative;
    left: 24.7rem;
    bottom: 0.4rem;
    font-size: 1.4rem;
    word-spacing: -0.3rem;
  }
  &__header::before{
    content: "\2022";
    font-size: 0.8rem;
    margin-right: 0.2rem;
    position: relative;
    bottom: 0.2rem;
  }
  &__description{
    color: #3f4043;
    position: relative;
    top: 0.2rem;
    letter-spacing: -0.35px;
    word-spacing: 0.05rem;
    margin-left: 0.2rem;
  }
}
.listNameTwo{
  &__img{
    margin-right: 0.5rem;
    margin-top:0.2rem;
    width: 1.2rem;
  }
}
.withBgTwo{
  background: #acd8ad;
  &__text{
    color: white;

  }
}
.listNameThree{
  &__img{
    margin-right: -0.3rem;
    width:2.9rem;
  }
}
.listsThree{
  margin-top: 1.1rem;
}
.listNameFour{
  &__id{
    letter-spacing: -0.03rem;
    word-spacing: 0.01rem;
  }
  &__img{
    margin-right: 0.3rem;
    margin-top: 0.22rem;
    width: 2rem;
  }
}
.listsFour{
  margin-top: 10.8px;

}
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
  padding: 1.3rem 3.8rem;
  background-color: #acd8ad;
  &__logo{
    display: none;
  }
  &__text{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  &__best{
    margin-left: 0.5rem;
  }
  &__new{
    margin-top: 0.5rem;
  }
}