.navbar {
  display: flex;
  background-color: $darkgrey;
  padding: 0 0.4rem 0 1.8rem;
  justify-content: space-between;
&__title{
  display: flex;
  color: white;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.22rem;
}
  &__burger{
    display: flex;
    flex-direction: column;
    margin-right: -0.4rem;
    width: 4.1rem;
    height: 3.7rem;
    align-items: center;
    justify-content: center;
    background-color: $burgergrey;
  }
  &__burger-lines{
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.1rem 0;
    transition: .4s;
  }
  &__dropdown{
    display: none;
    position: absolute;
    background-color: #fafafa;
    height: 16.1rem;
    top: 3.92rem;
    right: 0;
  }
  &__dropdown-list {
    color: #8d8d8d;
    font-family: "Lato", sans-serif;
    font-size: 1.21rem;
    border-bottom: 1px solid #f3f3f3;
    padding: 1.04rem 9.6rem 0.8rem 1.1rem;
  }
  &__dropdown-list >a{
    color: #8d8d8d;
    text-decoration: none;
  }
  &__img{
    display: none;
  }
  }
.navbar__burger:hover{
  padding-top: .5rem;
  height: 3.2rem;
  .navbar__burger-lines{
    padding-right: 0.3rem;
    &:nth-of-type(1){ transform:translateY(0.2rem) rotate(45deg);}
    &:nth-of-type(2){ opacity: 0;}
    &:nth-of-type(3){ transform:translateY(-0.6rem) rotate(-45deg);}
  }
  .navbar__dropdown {
    display: block;
  }
}
.navbar__dropdown-list:hover{
  background-color: #f5f5f5;
}

.pizza_background{
  display: flex;
  height: 17.3rem;
  background-image: url("../img/header_fon.png");
  background-size: cover;
  color: white;
  &__text{
    font-family: 'Lato', sans-serif;
    margin:1.7rem 0 0 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &__textOne{
    margin-left: -1px;
    word-spacing: 0.5px;
  }
  &__textTwo{
    margin-top: 0.7rem;
    margin-left: -0.09rem;
    letter-spacing: 0.01rem;
  }
  &__link{
    display: flex;
    font-weight: 600;
    color: #95bec6;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    margin-left: -0.7px;
    margin-top: 0.87rem;
  }
}
