@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/
html{
  font-size: 10px;
}
$darkgrey: #373c3f;
$burgergrey: #2d2925;
@import "header";
@import "content";

/** MEDIA **/
@import "media/all-media";