.bg_color{
	background-color: black;
	overflow: hidden;
	
}
.perspective {
	position: relative;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	perspective: 300px;
}

.text{
	text-align: center;
	color: yellow;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	
	top: 800px;
	animation: slide 30s linear infinite;
}
@keyframes slide {
 0%{
 	top: 300px;
 	transform: rotateX(90deg)  translateZ(-300px);
}
 100%{
 	top: -1000px;
 	transform: rotateX(60deg) translateZ(-1000px); 
 }
}