@media screen and (min-width: 320px and 640px){
  html{
    font-size: 20px;
  }
  .pizza_background__text{
    margin:1.4rem 0 0 2rem;
    word-spacing: 9px;
  }
  .pizza_background__textTwo{
    margin-top: 0.5rem;
  }
  .backgrounds__bg{
    background-size: cover;
  }
}
@media screen and  (min-width: 321px) {
  .backgrounds__bg{
    background-size: cover;
  }
  .lists__price{
    left:88%;
  }
}
@media screen and (min-width:980px){
  html{
    font-size: 16px;
  }
  .pizza_background{
    height: 33rem;
    background-size: cover;
    &__text{
      font-size: 3.4rem;
      margin-top: 4rem;
    }
    &__link{
      margin-top: 3.5rem;
      font-size: 2.1rem;
    }
  }
  .listName{
    &__id{
      margin-top: 0;
    }
  }

  .backgrounds__bg{
    background-size: cover;
  }
  .flexFor980second{
    margin-top: 0.6rem;
  }
  .twoFlexDiv{
    flex-direction: row;
  }
  .withBgTwo {
    top: 0.45rem;
    margin-top: 0;
  }
  .navbar {
    &__title{
      display: none;
    }
    &__burger{
      background-color: transparent;
      pointer-events: none;
    }
    &__burger-lines{
      display: none;
    }
    &__dropdown {
      display: flex;
      height: auto;
      align-items: center;
      background-color: transparent;
      position: absolute;
      top: 2.2rem;
      left: 1rem;
    }&__dropdown-list {
      text-align: center;
      font-size: 1rem;
      border: none;
     padding: 0 ;
     }
    &__dropdown-list >a{
      text-decoration: none;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding: 0 .5rem 0 .5rem;
    }
    &__img{
      display: flex;
      padding: .5rem 1.9rem .5rem 0;
    }
  }
  .backgrounds{
    display: flex;
    flex-direction: row;
    &__bg{
      height: 327px;
      background-position: center;
    }
    &__one{
      display: flex;
      width: 100%;
      margin-top: 0.6rem;
    }
    &__two{
      display: flex;
      width: 100%;
      margin-top: 0.6rem;
    }
    &__three{
      width: 100%;
      display: flex;
      margin-top: 0.6rem;
    }
    &__icon{
      display: none;
    }
  }
  .menuImg{
    display: flex;
  }
  .menuSection{
    margin-top: 2rem;
  }
  .footer{
    padding: .6rem 3rem;
    margin-top: 4rem;
    &__logo{
      display: flex;
    }
    &__text{
      flex-direction: row;
      align-items: center;
    }
    &__new{
      margin-top: 0;
    }
  }
}
@media screen and (min-width:1200px) {
  html{
    font-size: 18px;
  }
  .pizza_background{
    background-size: 100% 100%;
  }
  .withBgTwo {
    top: 0.3rem;
  }
}
