.content{
    height: 100%;
    width: 100%;
}
table{
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    border: 20px solid #3a4965;
    text-transform: uppercase;
}
tr,td{
    color: #484848;
    border:1px solid #e3e3e3;
    padding: 15px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #e3e3e3;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}
.choose{
    font-size: 18px;
    background-color: #fafafa;
}
.pricing{
   font-weight: 700;
    display: block;
    font-size: 28px;
}
.green_background{
    font-weight: 700;
    background-color: #89c331;
    font-size: 22px;
    color: white;
    border-color: #89c331;
}
.red_background{
    font-weight: 700;
    background-color: #f04a56;
    font-size: 28px;
    color: white;
    border-color: #f04a56;
}
.blue_background{
    font-weight: 700;
    background-color: #20807c;
    font-size: 22px;
    border-color: #20807c;
    color: white;
}
tr:nth-child(2){
    background-color: #fafafa;
}
.pay{
    position: relative;
    font-size: 60px;
}
p{
    margin: 0;
    font-weight: bold;
}
.cash{
    position: relative;
    bottom:24px;
    font-size: 24px;
    font-weight: bold;
}
.month{
    position: relative;
    font-size: 18px;
    right: 28px;
}
.icons{
    color:#848484;
    margin-right: 4%;
}
p:before{
    content:'\0024';
    font-weight: 700;
}
.contact_button_grey{
    font-size: 16px;
    color:white;
    background-color: #484848;
    border-color:#484848;
    padding: 10px 44px;
    border-radius: 5px;
     font-weight: 700;
}
.contact_button_grey:hover {
    background-color: #444040;
    cursor: pointer;
    color:#dedede;
}
.contact_button_green{
    font-size: 16px;
    color:white;
    background-color: #89c331;
    border-color:#89c331;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: 700;
}
.contact_button_green:hover{
    background-color: #7DC852;
    cursor: pointer;
    color:#dedede;
}
.contact_button_red{
    font-size: 16px;
    color:white;
    background-color: #f04a56;
    border-color:#f04a56;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: 700;
}
.contact_button_red:hover{
    background-color: #f03f58;
    cursor: pointer;
    color:#dedede;
}
.contact_button_blue{
    font-weight: 700;
    font-size: 16px;
    color:white;
    background-color: #20807c;
    border-color:#20807c;
    padding: 10px 50px;
    border-radius: 5px;
}
.contact_button_blue:hover{
    background-color: #12736d;
    cursor: pointer;
    color:#dedede;
    }
.buy_col{
    background-color: #eee;
}
.contact_col{
    background-color: #ddd;
}
